@model IEnumerable<MagicBag.Data.Models.BagItems>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Magic bag</h1>
    <p>Your magic bag has @Model.Count() items in it.</p>
</div>

<div class="row">
    <div class="col-xs-12">
        <ul>
            @{
                foreach (var item in Model)
                {
                    <li>@item.Name - @item.Type</li>
                }
            }
        </ul>

    </div>
</div>